[Desktop Entry]
Categories=Utility;GTK;Audio;AudioVideo;
Exec=songrec gui %f
Icon=com.github.marinm.songrec
# See https://github.com/lemenkov/shared-mime-info/blob/master/freedesktop.org.xml.in
# regarding the applicable mime types
MimeType=audio/mpeg;audio/x-wav;audio/x-vorbis+ogg;audio/flac;
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

Name=SongRec
Name[pt_BR]=Identificador de Músicas SongRec

Comment=An open-source Shazam client for Linux, written in Rust
Comment[pt_BR]=O ‘SongRec’ é um identificador de músicas de código aberto para o GNU/Linux, semelhante ao ‘Shazam’, que foi escrito com a linguagem de programação ‘Rust’.

Keywords=Rust;GTK;Shazam;Client;Audio;Song;Recognition;Fingerprinting;
Keywords[pt_BR]=Rust;GTK;Shazam;Cliente;Áudio;Som;Música;Trilha;Faixa;Identificador;Identificação;Reconhecimento;Detecção;Detectar;Descoberta;Descobrir;Impressão Digital;Qual é a Música;

# See https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s06.html
# regarding the general layout of the current file
