[Desktop Entry]
Version=1.0
Name=SongRec
Comment=An open-source Shazam client for Linux, written in Rust
Type=Application
Exec=songrec gui %f
# See https://github.com/lemenkov/shared-mime-info/blob/master/freedesktop.org.xml.in
# regarding the applicable mime types
MimeType=audio/mpeg;audio/x-wav;audio/x-vorbis+ogg;audio/flac;
Terminal=false
Categories=Utility;GTK;Audio;AudioVideo;
Keywords=Rust;GTK;Shazam;Client;Audio;Song;Recognition;Fingerprinting;
Icon=com.github.marinm.songrec
StartupNotify=true

# See https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s06.html
# regarding the general layout of the current file
