[Desktop Entry]
Categories=GTK;Audio;AudioVideo;
Exec=songrec gui %f
Icon=re.fossplant.songrec
# See https://github.com/lemenkov/shared-mime-info/blob/master/freedesktop.org.xml.in
# regarding the applicable mime types
MimeType=audio/mpeg;audio/x-wav;audio/x-vorbis+ogg;audio/flac;
StartupNotify=true
X-GNOME-UsesNotifications=true
StartupWMClass=songrec
Terminal=false
Type=Application
Version=1.0

Name[ca]=SongRec
Name[cs_CZ]=SongRec
Name[de_DE]=SongRec
Name[es]=SongRec
Name[fr_FR]=SongRec
Name[it]=SongRec
Name[ja]=SongRec
Name[ko_KR]=SongRec
Name[nl]=SongRec
Name[pl]=SongRec
Name[pt_BR]=Identificador de Músicas SongRec
Name[sk_SK]=SongRec
Name=SongRec

Comment[fr_FR]=Un client Shazam open-source pour Linux, écrit en Rust
Comment=An open-source Shazam client for Linux, written in Rust

Keywords[fr_FR]=Rust;GTK;Shazam;Client;Audio;Chanson;Morceau;Reconnaissance;Fingerprinting;
Keywords=Rust;GTK;Shazam;Client;Audio;Song;Recognition;Fingerprinting;

# See https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s06.html
# regarding the general layout of the current file
