# The following is related to Python or miscellaneous
*.pyc
__pycache__/
config.py
build/
.~lock.*
*.glade#
*~
*.swp
.vscode
.DS_Store

# The following is related to Rust
target/
Cargo.lock

# The following is related to building packages
vendor/
repo/
man/
.flatpak-builder/
.cargo/

# The following is related to snap packages
stage/
parts/
prime/
*.snap
